# dependencies
node_modules/
.pnpm-store/

# builds
.next/
dist/
build/
.turbo/

# tests
coverage/
playwright-report/
test-results/

# environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/

# OS
.DS_Store

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo